.main-section-container {
    margin-top: 70px;
}

.details-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.img-front-view {
    width: 345px;
}

.btn--show-photos {
    width: 100%;
}

.navbar {
    border-bottom: 1px solid #F5F5F5;
}

.navbar-brand .brand-logo {
    background-image: url(../../assets/img/brand-logo--color.svg) !important;
}

.nav-link.navigation-link {
    color: var(--brand-gray)!important;
}

@media (min-width: 768px) {
    .btn--show-photos {
        width: auto;
    }
    .nav-link.navigation-link {
        border: 1px solid var(--brand-gray)!important;
    }
}